node_modules/
dist/vendor/
dist/config/config.php
dist/config/database-init.min.sql
dist/public/css/admin**
dist/public/js/admin**
dist/public/css/main**
dist/public/js/main**
dist/public/css/public**
dist/public/js/public**
release.*